src/main/webapp/WEB-INF/xml/xml_schema_files/mail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/photoBay"  elementFormDefault="qualified" xmlns:mail="http://www.example.org/photoBay">
<xs:element name="mail">       
        <xs:complexType>
			<xs:all maxOccurs="1" minOccurs="1">
				<xs:element name="subject" type="xs:string"></xs:element>
				<xs:element name="body" type="xs:string"></xs:element>
			</xs:all> 
			<xs:attribute name="fromID" type="xs:int" use="required"></xs:attribute>
			<xs:attribute name="toID" type="xs:int" use="required"></xs:attribute>
	</xs:complexType>
    </xs:element>
</xs:schema>
