src/main/webapp/WEB-INF/xml/xml_schema_files/payloadMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/photoBay"  elementFormDefault="qualified" xmlns:plm="http://www.example.org/photoBay">
<xs:element name="payloadMessage">       
        <xs:complexType>
			<xs:all maxOccurs="1" minOccurs="1">
				<xs:element name="message" type="xs:string"/>
				<xs:element name="uri" type="xs:anyURI"></xs:element>
			</xs:all> 
	</xs:complexType>
    </xs:element>
</xs:schema>
